[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibVR
	branch = ng
[submodule "extern/clib-util"]
	path = extern/clib-util
	url = https://github.com/Styyx1/CLibUtil
